<div class="d-grid justify-content-center black">
  <div class="d-flex justify-content-center">
    <h2>Welcome {{user.username}}</h2>
  </div>
  <div class="centered-card black">
    <mat-card class="black">
      <mat-card-content class="black">
        <div class="mt-5 mb-5 d-flex justify-content-center">
          <img style="width: 20%" *ngIf="user.picture" [src]="'assets/pictures/'.concat(user.picture)">
        </div>
        <div class="div-50 d-grid">
          <div class="d-flex justify-content-between">
            <p class="m-4"><strong>Name: </strong>{{user.username}}</p>
            <p class="m-4"><strong>Email: </strong>{{user.email}}</p>
            <p class="m-4"><strong>Phone Number: </strong>{{user.phoneNumber}}</p>
          </div>
        </div>
        <div class="mt-lg-5">
          <input type="file" (change)="onChange($event)">
          <button class="btn btn-success" (click)="uploadUserImage()">Upload</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
